.card-regulasi{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 70vw;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.header_regulasi > p{
    color: #202F4E;
    font-size: 18px;
    font-weight:800;
    font-family: Poppins;
    /* letter-spacing: 10px; */
}

.isi_regulasi > p{
    color: #202F4E;
    font-size: 15px;
    font-family: Questrial;
    /* letter-spacing: 25px; */
}

@media screen and (max-width: 768px) {
    .table__detail {
        width: 100%;
    }
}